body, html {
    min-height: 100%;
    background-color: #000;
    color: #929a9e;
}

a{
    color: #87a3bf;
    text-decoration: none!important;
}

a:hover{
    color: #afafaf!important;
}

body{
    padding-top: 44px;
}

.header, .body, .footer{
    width: 100%;
}

.header{
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
    width: 100%;
    background-color: #2d3844;
    /*height: 50px;*/
}

.body{
    min-height: calc(100vh - 50px);
    /*height: 1000px;*/
    max-width: 1000px;
    margin: 0 auto;
    background-color: #1b1f23;
    padding: 10px 0 16px;
}

.footer{
    font-size: 12px;
    background-color: #2d3844;
    border-top: 1px solid #495867;
    min-height: 50px;
}

.navbar{
    max-width: 975px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    padding: 0;
}

.navbar div a{
    display: inline-block;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    color: #929a9e!important;
    font-weight: 400;
    padding: 0 15px;
    /*border-right: 1px solid rgba(73,88,103,.65);*/
    /*border-left: 1px solid rgba(73,88,103,.65);*/
    text-align: center;
    text-decoration: none;
    transition: .5s ease;
}

.navbar a:first-child{
    /*border-left: 1px solid rgba(73,88,103,.65)!important;*/
}

.navbar a:hover{
    background-color: #45515f!important;
}

.nav-search{
    float: right;
}

.nav-search form{
    float: right;
    max-width: 100%;
}

.navsearchbutton{
    border: 1px solid #495867;
    background-color: #2d3844;
    color: #929a9e;
    border-radius: 3px;
}

.nav-search form input{
    max-width: 100%;
    padding-right: 15px;
    border: 1px solid #495867;
    padding-left: 5px;
    background-color: #2d3844;
    color: #929a9e;
    border-radius: 3px;
}

.body div{

}

.row>*{
    padding-right: 8px!important;
    padding-left: 8px!important;
}

.margin-1{
    display: block;
    height: 3px;
    width: 100%;
}

.margin-2{
    display: block;
    height: 6px;
    width: 100%;
}

.margin-3{
    display: block;
    height: 9px;
    width: 100%;
}

.margin-4{
    display: block;
    height: 12px;
    width: 100%;
}

.margin-5{
    display: block;
    height: 15px;
    width: 100%;
}

.margin-6{
    display: block;
    height: 18px;
    width: 100%;
}

.margin-7{
    display: block;
    height: 21px;
    width: 100%;
}

.margin-8{
    display: block;
    height: 24px;
    width: 100%;
}

.margin-9{
    display: block;
    height: 27px;
    width: 100%;
}

.margin-10{
    display: block;
    height: 30px;
    width: 100%;
}

.normal-shadow{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
    text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
    transition: .2s ease;
}

.color-red{
    color: #c30404!important;
}

.color-green{
    color: #09b300!important;
}

.side-div-inn-header{
    background-color: #435971;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    margin-bottom: 0;
    width: 100%;
    display: block;
}

.background-1{
    background-color: #2d3844;
}

.background-2{
    background-color: #22282f;
}

@media only screen and (max-width: 892px) {
    body{
        padding-top: 88px;
    }
}

@media only screen and (max-width: 482px) {
    .nav-left a{
        padding: 0 6px!important;
    }
}



