.logo img{
    width: 100%;
}

.player-of-week{
    position: relative;
    height: 150px;
    overflow: hidden;
    background-color: #242a31;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
}

.player-of-week:hover{
    background-color: #343c44;
    cursor: pointer;
}

.player-of-week img{
    position: absolute;
    width: 70%;
    left: -20px;
    bottom: 0;
}

.player-gradient-big{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(0deg, rgb(35, 41, 47) 0%, rgba(0,0,0,0) 100%);
}

.player-of-week-name, .player-of-week-stat{
    position: absolute;
    max-width: 100%;
    z-index: 20;
    right: 6px;
    text-align: right;
    float: right;
    display: block;
}

.player-of-week-name{
    top: 15px;
}

.player-of-week-stat{
    bottom: 10px;
}

.player-of-week-name h5, .player-of-week-stat h5{
    margin: 0;
    font-size: 18px!important;
    line-height: 12px;
}

.player-of-week-name span, .player-of-week-stat span{
    font-size: 10px;
    color: #9ec8f1;
}

.ranking-box{
    background-color: #22282f;
    overflow: hidden;
    color: #87a3bf!important;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
}

.ranking-list{
    width: 100%;
    background-color: #22282f;
}

.ranking-list a div{
    /*padding-left: 25px;*/
    margin-bottom: 0;
    font-size: 12px;
}

.ranking-list a div{
    white-space: nowrap;
    padding: 5px 0;
    border-bottom: 1px solid #3c4a58;

}

.ranking-list a{
    color: #87a3bf!important;
}

.ranking-list a div span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
    display: inline-block;
    position: relative;
    top: 2px;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.ranking-list a div span:hover{
    color: #b8c4c7 !important;
}

.ranking-list a div img{
    width: 12px;
    margin: 0 5px;
    position: relative;
    bottom: 3px;
}

.side-div-header{
    text-transform: uppercase;
    color: rgba(146,154,158,.65)!important;
    font-size: 12px;
    font-weight: 600;
}

.ranking-order-number{
    margin-left: 9px;
    font-size: 14px;
}

.complete-ranking{
    background-color: #435971;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    color: #929a9e;
    text-align: center;
    font-size: 12px;
    padding: 12px 0;
}

.complete-ranking:hover{
    color: #b8c4c7;

}

.side-gallery-box{
    background-color: rgba(45,56,68,.35);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 50%);
}

.side-gallery-box img{
    width: 100%;
}

.box-description{
    background-color: #22282f;
    color: #87a3bf;
    text-align: center;
    font-size: 12px;
}

.box-description:hover{
    color: #87a3bf;
    cursor: pointer;
}

.side-1-result{
    background-color: #2d3844;
    padding: 6px;
    font-size: 10px;
}

.side-result-league{
    white-space: nowrap;
    max-width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #3c4a58;
    color: #87a3bf!important;
}

.side-result-league:hover{
    color: #b8c4c7 !important;
}

.side-result-player{
    font-size: 12px;
    max-width: 80%;
}

.side-result div{
    display: inline-block;
    line-height: 14px;
    margin: 4px 0;
}

.side-result-point{
    float: right;
    font-size: 14px;
}

.side-next-match{
    padding: 10px;
    --bs-gutter-x: 0!important;
    font-size: 12px;


}

.side-next-match div{
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

}

@media only screen and (max-width: 768px) {
    .player-of-week {
        width: 44%!important;
        display: inline-block;
        margin: 4% 2% 5% 6%;
    }
    .logo{
        width: 48%!important;
        display: inline-block;
        float: left;
    }
}



.active-league-block-header{
    --bs-gutter-x: 0;
}

.active-league-block-header div img{
    width: 100%;
    padding: 10%;
}

.active-league-block-header div:first-child{
    width: 12%;
}

.active-league-block-header div:last-child{
    width: 88%;
    line-height: 50px;
}

.league-img-box{
    width: 100%;
}

.league-img-box img{
    width: 100%;
    /*height: 150px;*/
    object-fit: cover;
}

.match-box{
    --bs-gutter-x: 0;
    padding: 8px 5px;
    font-size: 12px;
    line-height: 24px;
}

.match-box div{
    border-right: 1px solid #3c4a58;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.match-box div:first-child{
    text-align: right;
}

.match-box div:last-child{
    border: none!important;
}

.match-box div:nth-child(2){
    text-align: center;
    font-size: 16px;
}

.post-header{
    padding: 6px 12px;
}

.post-body{
    padding: 6px 12px;
}

.post-body *{
    max-width: 100%;
}